dialog {
	background-color: var(--background500);
	color: var(--foreground500);
	border: none;
	border-radius: 6px;
	padding: 10px 30px;
}

dialog>header:first-child {
	background-color: var(--background600);
	border-radius: 6px 6px 0 0;
	margin: -10px -30px 10px;
	padding: 10px;
	text-align: center;
}

dialog::backdrop {
	background: #0000009c;
	backdrop-filter: blur(4px);
}
