input:focus,
select:focus,
button:focus,
textarea:focus {
	box-shadow: 0 0 0 1px var(--primary500);
}

input:hover,
select:hover,
button:hover,
textarea:hover {
	box-shadow: 0 0 0 1px var(--primary500);
}

input:disabled,
select:disabled,
button:disabled,
textarea:disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

input[type="checkbox"] {
	appearance: none;
	background-color: var(--background700);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	transform: translateY(-0.075em);
	display: inline-grid;
	place-content: center;
	border-color: var(--background700);
}

input[type="checkbox"]::before {
	content: "";
	width: 0.75em;
	height: 0.75em;
	clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
	transform: scale(0);
	transform-origin: bottom left;
	transition: 200ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--primary500);
	background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
	transform: scale(1);
}

input[type="checkbox"]:focus {
	outline: 1px solid var(--primary500);
}

input[type="radio"] {
	appearance: none;
	background-color: var(--background700);
	margin: 0;
	font: inherit;
	color: currentColor;
	width: 1.15em;
	height: 1.15em;
	border-color: var(--background700);
	border-radius: 50%;
	transform: translateY(-0.075em);
	display: inline-grid;
	place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 0.65em;
	height: 0.65em;
	border-radius: 50%;
	transform: scale(0);
	transition: 200ms transform ease-in-out;
	box-shadow: inset 1em 1em var(--primary500);
	background-color: CanvasText;
}

input[type="radio"]:checked::before {
	transform: scale(1);
}

input[type="radio"]:focus {
	outline: 1px solid var(--primary500);
}

select {
	background: var(--background600);
	padding-right: 35px;
	color: var(--foreground500);
	padding: 4px 8px;
}

select::-ms-expand {
	display: none;
}

select[multiple] {
	padding-right: 10px;
	background-image: none;
	overflow-y: auto;
}

select option {
	background: var(--background600);
}

::placeholder {
	color: var(--foreground600);
}
