table {
	border-collapse: collapse;
	margin-bottom: 10px;
	width: 100%;
	table-layout: fixed;
}

table caption {
	text-align: left;
}

td,
th {
	padding: 6px;
	text-align: left;
	vertical-align: top;
	word-wrap: break-word;
}

thead {
	border-bottom: 1px solid var(--foreground600);
}

tfoot {
	border-top: 1px solid var(--foreground600);
}

tbody tr:nth-child(even) {
	background-color: var(--background600);
}

tbody tr:nth-child(even) button {
	background-color: var(--background800);
}
