@import '_dialog.css';
@import '_forms.css';
@import '_misc.css';
@import '_range.css';
@import '_table.css';

:root {	
	--foreground500: #dbdbdb;
	--foreground600: #a9b1ba;
	--background400: #2e3e51;
	--background500: #202b38;
	--background600: #161f27;
	--background700: #0f151a;
	--primary500: #41adff;
	--secondary500: #ffbe85;
	--animation-duration: 200ms;
}

html {
	scrollbar-color: var(--foreground500) var(--background500);
	scrollbar-width: thin;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
	padding: 16px 16px;
	word-wrap: break-word;
	color: var(--foreground500);
	background: var(--background500);
	text-rendering: optimizeLegibility;
}
