@import '_dialog.css';
@import '_forms.css';
@import '_misc.css';
@import '_range.css';
@import '_table.css';
@import '_progress.css';
@import '_tooltip.css';

:root {
	--foreground500: #161f27;
	--foreground600: #0f151b;
	--background500: #ffffff;
	--background550: #f0f0ff;
	--background600: #e0e0e0;
	--background700: #c7c7c7;
	--primary500: #41adff;
	--animation-duration: 200ms;
}

[dir=rtl] {
	direction: rtl;
}

html {
	scrollbar-color: var(--foreground500) var(--background500);
	scrollbar-width: thin;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
	padding: 16px 16px;
	word-wrap: break-word;
	color: var(--foreground500);
	background: var(--background500);
	text-rendering: optimizeLegibility;
}